[#if START_PAGE == 1#]
	[#inc fkb_none_devices.html#]
[#endif#]

[#if VIEW_MODE != 'skills' AND START_PAGE == 0#]
<div class="row">
	<div class="col-md-12 text-right" style="padding: 0; padding-bottom: 10px;">
		<a href="?view_mode=add" class="btn btn-success" title="Добавить"><i class="glyphicon glyphicon-plus"></i> Добавить новое устройство</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12" style="padding: 0;">
		<div class="table-responsive ">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Название</th>
						<th>IP</th>
						<th>Статус</th>
						<th>Управление</th>
					</tr>
				</thead>
				<tbody>
					[#begin DEVICES#]
					<tr>
						<td>[#ID#]</td>
						<td>[#TITLE#]</td>
						<td>[#IP#]</td>
						<td style="[#if STATUS==1#]background: #f0fff3;text-align: center;[#else#]background: #fff3f0;text-align: center;[#endif#]"><i class="glyphicon glyphicon-off" style="[#if STATUS==1#]color:green;[#else#]color:red;[#endif#]"></i></td>
						<td class="text-right">
							<div class="btn-group-xs">
								<a class="btn btn-success" href="?view_mode=skills&id=[#ID#]">Умения</a>
								<button type="button" class="btn btn-warning">Удалить</button>
							</div>
						</td>
					</tr>
					[#end DEVICES#]
				</tbody>
			</table>
		</div>
	</div>
</div>
[#endif#]

[#if VIEW_MODE == 'skills'#]
	[#inc fkb_skill_devices.html#]
[#endif#]
